.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.title {
  font-size: 1.5em;
  margin: 20px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.category {
  color: black;
  display: flex;
  font-size: 1em;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #efefef;
  cursor: pointer;
  max-width: 600px;
  width: 320px;
  height: 120px;
  padding: 20px;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.category:hover {
  background-color: #e3e3eb;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0; /* Light background for the footer */
  text-align: center;
  padding: 10px 20px; /* Padding to give some space inside the footer */
  border-top: 1px solid #ddd; /* Optional border to visually separate footer */
  z-index: 1000; /* Ensure the footer is on top of other content */
}

.footerLinks {
  margin-bottom: 8px;
}

.footerLink {
  margin: 0 15px;
  color: #21b5ea; /* Color for links */
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.footerCopyright {
  font-size: 14px;
  color: #666;
}
